@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,body{
    background-color: var(--vyFlow);
}

:root{
    /* 1st combo */
    /* --vyFlow: #030D4E;
    --alFlow: #F8A01C; */
    /* 2nd combo */
    --vyFlow: #2F2F2F; 
    --alFlow: #FE6F27; 
}