#contact-page{
    width: 100%;
    min-height: 100vh;
    background-color: var(--vyFlow);
    overflow-x: hidden;
}

#contact-fild{
    padding-top: 2.8em;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 85%;
}

#from_cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.contact-form {
  width: 90%;
  height: 80%;
  background: transparent; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    background: rgba(120, 120, 120, 0.144); /* Dark reddish background */
    border-bottom: 1px solid var(--alFlow); /* Red border */
    color: white;
    padding: 15px;
    font-size: 16px;
    outline: none;
}
.contact-form input{
    width: 90%;
    height: 12.8%;
}
.contact-form textarea {
    height: 44%;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #fff;
  opacity: 0.8;
}

.contact-form textarea {
  resize: vertical;
  min-height: 120px;
}

.contact-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 10%;
    background:transparent;
    border-top: 1px solid var(--alFlow);
    border-bottom: 1px solid var(--alFlow);
    color: white;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-form button:hover {
    width: 90%;
    border: 1px solid var(--alFlow);
    background: var(--alFlow); 
}

@media screen and (max-width:500px) {

    .contact-form{
        padding: 20px 0px 20px 0px;
    }

    .contact-form input{
        width: 100%;
    }

    .contact-form textarea{
        width: 100%;
    }
    
    .contact-form button {
        width: 100%;
    }
}



#text{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    height: 100%;
}

#text p{
    font-size: 14px;
    color: var(--alFlow);
}

#text h1{
    font-size: clamp(30px,5vw,80px);
    color: white;
    font-weight: 600;
}

#text h6{
    font-size: clamp(14px,5vw,18px);
    color: #BABABA;
}

@media screen and (min-width:900px) and (max-width:1024px) {
    #fbox{
        width: 90%;
        height: 85%;
    }
}
@media screen and (max-width:900px){
    #contact-fild{
        padding: 8em 0;
        height: auto;
    }

    .contact-form input,
    .contact-form textarea {
        background: rgba(120, 120, 120, 0); /* Dark reddish background */
    }

    #fbox{
        flex-direction: column;
        gap: 4em;
        width: 90%;
        height: 85%;
    }

    #text{
        width: 100%;
        padding: 0 2em;
    }

    #from_cover{
        width: 100%;
    }
}


#con_spartC {
    margin: 10em auto;
    max-width: 1152px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2em;
}


#con_spartC p{
    margin: 10px 0;
    color: var(--alFlow);
    text-transform: uppercase;
    font-size: clamp(5px,2vw,14px);
}
#con_spartC h1{
    font-size: clamp(10px,4vw,41px);
    color: white;
    font-weight: 600;
    text-align: center;
}


@media (max-width: 768px) {
    #con_spartC {
        margin: 0em auto;
        padding: 0;
    }

    #con_topt{
        margin-bottom: 0px;
    }

    
    #con_orbit{
        flex-direction: column;
        height: auto;
        gap: 2em;
    }
    
    #con_lrwrap{
        width: 100%;
        gap: 2em;
    }

    #con_lft{
        width: 100%;
        gap: 2em;
    }
    #con_lft #con_itm1,#con_itm2{
        align-items: start;
    }
    #con_itm1,#con_itm2{
        margin-left: 0px;
    }

    #con_mid{
        width: 100%;
        margin: 25px 0px;
    }
    #con_rth{
        width: 100%;
        gap: 2em;
    }
}